<div
  class="d-flex justify-content-center align-items-center"
  style="height: 100%"
>
  <div class="login-form px-3" style="width: 400px">
    <form name="form" ng-submit="formSubmit()" role="form">
      <img class="" src="img/PB_LOGO_041718_Small.svg" alt="" height="120" />

      <h3>Sign in</h3>

      <div
        ng-class="{ 'alert': flash, 'alert-success': flash.type === 'success', 'alert-danger': flash.type === 'error' }"
        ng-if="flash"
        ng-bind="flash.message"
      ></div>

      <div class="form-floating">
        <input
          type="text"
          class="form-control"
          id="floatingInput"
          placeholder="Username"
          ng-model="username"
          required
        />
        <label for="floatingInput">Username</label>
      </div>

      <div class="form-floating position-relative">
        <input
          type="{{ typePassword ? 'text' : 'password' }}"
          class="form-control pe-5"
          id="floatingPassword"
          placeholder="Password"
          ng-model="password"
          required
        />
        <label for="floatingPassword">Password</label>
        <i
          ng-click="togglePassword()"
          class="far {{ typePassword ? 'fa-eye' : 'fa-eye-slash' }} position-absolute top-50 translate-middle end-0 fs-5"
        ></i>
      </div>

      <button
        type="submit"
        ng-disabled="form.$invalid"
        class="w-100 btn btn-lg btn-primary rounded-0"
      >
        Login
      </button>

      <p class="mt-2">Not a member? <a ui-sref="register">Register</a></p>

      <p class="mt-5 mb-3 text-muted">&copy; 2017–2021</p>
    </form>
  </div>
</div>
